nav ul li{
    display: inline;
    font-family: 'Sacramento', cursive;
    color: aliceblue;
    font-size: 45px;
    /*border: 2px solid white;*/
    margin: 1.2%;
    
}

ul{
    text-align: center;
    background-color: hotpink;
    border: 20px solid hotpink;
    margin-bottom: -2px;
}

h1{
    font-family: 'Inspiration', cursive;
    font-size: 100px;
    text-align: center;
}

h5{
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    font-size: 25px;
}

#sobre{
    font-family: 'Inspiration', cursive;
    font-size: 50px;
}

#tdSobre{
    font-family: 'Euphoria Script', cursive;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 2%;
    padding-bottom: 1%;
}

a{
    text-decoration: none;
}

#titumulher, #queridos{
    background-color: hotpink;
    border: 20px solid hotpink;
    font-family: 'Tangerine', cursive;
    color: aliceblue;
    font-size: 45px;
    text-align: center;
    margin-top: -5px;
}

#deixa{
    background-color: rgb(255, 255, 255);
    font-family: 'Euphoria Script', cursive;
    font-size: 45px;
}
#olhos{
    font-family: 'Spirax', cursive;
    padding-top: 2%;
}

#fofoca{
    font-family: 'Euphoria Script', cursive;
    background-color: aquamarine;
    font-size: 28px;
    margin-top: -2%;
    padding-left: 20%;
    padding-right: 2%;
    padding-bottom: 1%;
 
}

.grid-make, .grid-queri{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 150px;
    
    
}

.banner, .bannerdois{
    width: 100%;
    height: 100%;
}

#fotopastel{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#sombrapastel{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotorosa{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#sombrarosa{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotoazul{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#sombrazul{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotorosacobre{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#sombrarosacobre{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fotolullaby{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#sombralullaby{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fotoverde{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#sombraverde{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fotoGliter{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#gliterazul{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotoGliterazulos{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#gliterazulos{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotoGliterosa{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#gliterosa{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#fotoGlitertd{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#glitertudo{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fotoGliterverde{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3; 
}

#gliterverde{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fotoGliterroxo{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#gliterroxo{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#sombrapastel, #sombrarosa, #sombrazul, #sombrarosacobre, #sombralullaby, #sombraverde, #gliterazul, #gliterazulos, #gliterosa, #glitertudo, #gliterverde, #gliteroxo{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 40px;
    word-break: initial-word;
}

div form fieldset{
    background-color: hotpink;
    border-radius: 50px;
    border: 1px solid hotpink;
    color: white;
    padding-left: 50px;
    max-height: 450px;
}

div form fieldset legend{
    font-family: 'Inspiration', cursive;
    font-weight: bolder;
    font-size: 78px;
    text-align: center;
    color: rgb(241, 144, 185);;
    border-radius: 50px;
    background-color: white;
    padding: 20px;
    position: relative;
    right: 450px
    
}

div form fieldset p{
    font-family: 'Euphoria Script', cursive;font-size: 28px;
    font-size: 28px;
    
}

div form fieldset div{
    margin-top: 8%;
}

#textoLegend{
    font-family: 'Euphoria Script', cursive;font-size: 28px;
    font-size: 28px;
    padding-left: 1.5em;
    text-align: center;
    position: absolute;
    left: 3%;
    margin-top: 2%;
}

input[type="text"], input[type="email"], input[type="date"], input[type="number"]{
    border-radius: 9px;
    height: 25px;
    width: 180px;
    border: 1px solid hotpink;
}

input[placeholder]{
    text-align: center;
}

#pronomes{
    position: relative;
    left: 670px;
    bottom: 300px;
}
